In [33]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [34]:
df = pd.read_csv(os.path.join("..", "Resources", "movies_complete_adjusted2.csv"))
df.head()

,imdb_title_id,original_title,year,genre,duration,country,language,director,writer,production_company,...,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,Normalize
0,tt0021749,City Lights,1931,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,...,"With the aid of a wealthy erratic tippler, a d...",8.5,162668,1500000,19181,46008,99,295.0,122,17.027039
1,tt0027977,Modern Times,1936,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,...,The Tramp struggles to live in modern industri...,8.5,211250,1500000,163577,457688,96,307.0,115,18.619496
2,tt0029453,Pépé le Moko,1937,"Crime, Drama, Romance",94,France,"French, Arabic",Julien Duvivier,"Henri La Barthe, Henri La Barthe",Paris Film,...,A wanted gangster is both king and prisoner of...,7.7,6180,60000,155895,155895,98,46.0,55,17.972986
3,tt0029583,Snow White and the Seven Dwarfs,1937,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand","Jacob Grimm, Wilhelm Grimm",Walt Disney Productions,...,Exiled into the dangerous forest by her wicked...,7.6,177157,1499000,184925486,184925486,95,260.0,173,17.972986
4,tt0031381,Gone with the Wind,1939,"Drama, History, Romance",238,USA,English,"Victor Fleming, George Cukor","Margaret Mitchell, Sidney Howard",Selznick International Pictures,...,A manipulative woman and a roguish man conduct...,8.1,283975,3977000,200852579,402352579,97,881.0,197,18.619496

In [35]:
# Adjusting for inflation
df['budget_1'] = df['budget'] * df['Normalize']
df['income_1'] = df['usa_gross_income'] * df['Normalize']
df.head()

,imdb_title_id,original_title,year,genre,duration,country,language,director,writer,production_company,...,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,Normalize,budget_1,income_1
0,tt0021749,City Lights,1931,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,...,162668,1500000,19181,46008,99,295.0,122,17.027039,2.554056e+07,3.265956e+05
1,tt0027977,Modern Times,1936,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,...,211250,1500000,163577,457688,96,307.0,115,18.619496,2.792924e+07,3.045721e+06
2,tt0029453,Pépé le Moko,1937,"Crime, Drama, Romance",94,France,"French, Arabic",Julien Duvivier,"Henri La Barthe, Henri La Barthe",Paris Film,...,6180,60000,155895,155895,98,46.0,55,17.972986,1.078379e+06,2.801899e+06
3,tt0029583,Snow White and the Seven Dwarfs,1937,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand","Jacob Grimm, Wilhelm Grimm",Walt Disney Productions,...,177157,1499000,184925486,184925486,95,260.0,173,17.972986,2.694151e+07,3.323663e+09
4,tt0031381,Gone with the Wind,1939,"Drama, History, Romance",238,USA,English,"Victor Fleming, George Cukor","Margaret Mitchell, Sidney Howard",Selznick International Pictures,...,283975,3977000,200852579,402352579,97,881.0,197,18.619496,7.404974e+07,3.739774e+09

In [36]:
conditions = [(df["budget_1"] < 10000000), (df["budget_1"] >= 10000000) & (df["budget_1"] < 60000000), (df["budget_1"] >= 60000000)]
values = ['budget_low', "budget_med", "budget_high"]
df["budget_classes"] = np.select(conditions, values)
df.value_counts("budget_classes")

budget_classes
budget_med     3230
budget_high    1443
budget_low     1410
dtype: int64

In [37]:
conditions = [(df["income_1"] < 10000000), (df["income_1"] >= 10000000) & (df["income_1"] < 60000000), (df["income_1"] >= 60000000)]
values = ['income_low', "income_med", "income_high"]
df["income_classes"] = np.select(conditions, values)
df.value_counts("income_classes")

income_classes
income_med     2139
income_high    2038
income_low     1906
dtype: int64

In [38]:
df_1 = pd.concat([df,df.genre.str.get_dummies(sep=', ')],1)
df_1.head()

,imdb_title_id,original_title,year,genre,duration,country,language,director,writer,production_company,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,tt0021749,City Lights,1931,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,...,0,0,0,0,1,0,0,0,0,0
1,tt0027977,Modern Times,1936,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,...,0,0,0,0,0,0,0,0,0,0
2,tt0029453,Pépé le Moko,1937,"Crime, Drama, Romance",94,France,"French, Arabic",Julien Duvivier,"Henri La Barthe, Henri La Barthe",Paris Film,...,0,0,0,0,1,0,0,0,0,0
3,tt0029583,Snow White and the Seven Dwarfs,1937,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand","Jacob Grimm, Wilhelm Grimm",Walt Disney Productions,...,0,0,0,0,0,0,0,0,0,0
4,tt0031381,Gone with the Wind,1939,"Drama, History, Romance",238,USA,English,"Victor Fleming, George Cukor","Margaret Mitchell, Sidney Howard",Selznick International Pictures,...,0,0,0,0,1,0,0,0,0,0

In [39]:
#List the columns
list(df_1)

#df_1.to_excel("output.xlsx")

['imdb_title_id',
 'original_title',
 'year',
 'genre',
 'duration',
 'country',
 'language',
 'director',
 'writer',
 'production_company',
 'actors',
 'description',
 'avg_vote',
 'votes',
 'budget',
 'usa_gross_income',
 'worlwide_gross_income',
 'metascore',
 'reviews_from_users',
 'reviews_from_critics',
 'Normalize',
 'budget_1',
 'income_1',
 'budget_classes',
 'income_classes',
 'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western']

In [40]:
# Working on language, the first one is the primary language, hence we are keeping only the first one for simplicity
# splitting at occurrence of whitespace 
df_1["lang"]= df_1["language"].str.split(",").str[0] 

# displaying first element from list 
#df_1["language"].str.get(0) 
df_1.head()

,imdb_title_id,original_title,year,genre,duration,country,language,director,writer,production_company,...,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western,lang
0,tt0021749,City Lights,1931,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,...,0,0,0,1,0,0,0,0,0,English
1,tt0027977,Modern Times,1936,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,...,0,0,0,0,0,0,0,0,0,English
2,tt0029453,Pépé le Moko,1937,"Crime, Drama, Romance",94,France,"French, Arabic",Julien Duvivier,"Henri La Barthe, Henri La Barthe",Paris Film,...,0,0,0,1,0,0,0,0,0,French
3,tt0029583,Snow White and the Seven Dwarfs,1937,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand","Jacob Grimm, Wilhelm Grimm",Walt Disney Productions,...,0,0,0,0,0,0,0,0,0,English
4,tt0031381,Gone with the Wind,1939,"Drama, History, Romance",238,USA,English,"Victor Fleming, George Cukor","Margaret Mitchell, Sidney Howard",Selznick International Pictures,...,0,0,0,1,0,0,0,0,0,English

In [41]:
#Count movies in each of the languages so that we can choose a few languages
df_1.groupby(['lang']).size()

lang
Aboriginal                   1
Afrikaans                    2
American Sign Language       1
Arabic                      13
Aramaic                      1
Bosnian                      1
Cantonese                   15
Chechen                      1
Chinese                      1
Czech                        2
Danish                       4
Dari                         1
Dutch                        1
Dzongkha                     1
English                   5773
Filipino                     2
French                      49
German                       2
Greek                        2
Hebrew                       6
Hindi                        9
Hungarian                    1
Icelandic                    2
Indonesian                   2
Italian                     14
Japanese                    30
Kazakh                       1
Korean                      19
Latin                        1
Mandarin                    39
Maya                         1
Mongolian                    1
None                         2
Norwegian                    2
Persian                      4
Portuguese                   3
Romanian                     2
Russian                      9
Serbian                      1
Spanish                     51
Swedish                      3
Swiss German                 1
Tibetan                      1
Tswana                       1
Uzbek                        1
Vietnamese                   2
Zulu                         1
dtype: int64

In [42]:
# Include popular language movies only
df_2 = df_1.loc[df_1['lang'].isin(['English','French', 'Japanese', 'Mandarin', 'Spanish', 'Korean'])]
df_2.head()

,imdb_title_id,original_title,year,genre,duration,country,language,director,writer,production_company,...,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western,lang
0,tt0021749,City Lights,1931,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,...,0,0,0,1,0,0,0,0,0,English
1,tt0027977,Modern Times,1936,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,...,0,0,0,0,0,0,0,0,0,English
2,tt0029453,Pépé le Moko,1937,"Crime, Drama, Romance",94,France,"French, Arabic",Julien Duvivier,"Henri La Barthe, Henri La Barthe",Paris Film,...,0,0,0,1,0,0,0,0,0,French
3,tt0029583,Snow White and the Seven Dwarfs,1937,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand","Jacob Grimm, Wilhelm Grimm",Walt Disney Productions,...,0,0,0,0,0,0,0,0,0,English
4,tt0031381,Gone with the Wind,1939,"Drama, History, Romance",238,USA,English,"Victor Fleming, George Cukor","Margaret Mitchell, Sidney Howard",Selznick International Pictures,...,0,0,0,1,0,0,0,0,0,English

In [43]:
data = df_2[[ "Action", 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'Horror', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller',
 "lang", "budget_classes", 'income_classes']]
X = data.drop(['income_classes'], axis=1)
y = data["income_classes"].values.reshape(-1, 1)
print(X.shape, y.shape)

(5961, 16) (5961, 1)

In [44]:
from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)

In [45]:
# Dummy encoding
X = pd.get_dummies(X)
X.head()

,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Horror,...,Thriller,lang_English,lang_French,lang_Japanese,lang_Korean,lang_Mandarin,lang_Spanish,budget_classes_budget_high,budget_classes_budget_low,budget_classes_budget_med
0,0,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,0,0,0,0,1,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,1
2,0,0,0,0,0,1,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,0,0,1,0,0,0,0,1,1,0,...,0,1,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [46]:
list(X)

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Horror',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'lang_English',
 'lang_French',
 'lang_Japanese',
 'lang_Korean',
 'lang_Mandarin',
 'lang_Spanish',
 'budget_classes_budget_high',
 'budget_classes_budget_low',
 'budget_classes_budget_med']

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.head()

,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Horror,...,Thriller,lang_English,lang_French,lang_Japanese,lang_Korean,lang_Mandarin,lang_Spanish,budget_classes_budget_high,budget_classes_budget_low,budget_classes_budget_med
5805,1,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
1320,0,1,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2777,1,0,0,0,0,1,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
2975,0,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
5397,0,0,0,0,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [48]:
#Fitting the Standard scaler model to the training data
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
#y_scaler = StandardScaler().fit(y_train)

In [49]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
#y_train_scaled = y_scaler.transform(y_train)
#y_test_scaled = y_scaler.transform(y_test)

In [50]:
# Decision tree Model
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.5767940979208585

In [51]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators= 750, n_jobs = 10000, verbose = 2)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

[Parallel(n_jobs=10000)]: Using backend ThreadingBackend with 10000 concurrent workers.
building tree 1 of 750building tree 2 of 750
building tree 3 of 750
building tree 4 of 750

building tree 5 of 750building tree 6 of 750
building tree 7 of 750
building tree 8 of 750
building tree 9 of 750

building tree 10 of 750
building tree 11 of 750building tree 12 of 750

building tree 13 of 750
building tree 14 of 750
building tree 15 of 750
building tree 16 of 750building tree 17 of 750
building tree 18 of 750
building tree 19 of 750
building tree 20 of 750building tree 21 of 750

building tree 22 of 750

building tree 23 of 750
building tree 24 of 750
building tree 25 of 750building tree 26 of 750
building tree 27 of 750
building tree 28 of 750

building tree 29 of 750
building tree 30 of 750
building tree 31 of 750building tree 32 of 750

building tree 33 of 750
building tree 34 of 750building tree 35 of 750
building tree 36 of 750

building tree 37 of 750
building tree 38 of 750
building tree 39 of 750
building tree 40 of 750building tree 41 of 750
building tree 42 of 750building tree 43 of 750building tree 44 of 750building tree 45 of 750

building tree 46 of 750



building tree 47 of 750building tree 48 of 750

building tree 49 of 750
building tree 50 of 750building tree 51 of 750

building tree 52 of 750
building tree 53 of 750
building tree 54 of 750building tree 55 of 750
building tree 56 of 750
building tree 57 of 750
building tree 58 of 750

building tree 59 of 750
building tree 60 of 750building tree 61 of 750building tree 62 of 750building tree 63 of 750

building tree 64 of 750

building tree 65 of 750

building tree 66 of 750building tree 67 of 750
building tree 68 of 750
building tree 69 of 750
building tree 70 of 750
building tree 71 of 750
building tree 72 of 750

building tree 73 of 750building tree 74 of 750

building tree 75 of 750
building tree 76 of 750building tree 77 of 750building tree 78 of 750
building tree 79 of 750building tree 80 of 750building tree 81 of 750

building tree 82 of 750building tree 83 of 750building tree 84 of 750

building tree 85 of 750




building tree 86 of 750building tree 87 of 750building tree 88 of 750
building tree 89 of 750
building tree 90 of 750

building tree 91 of 750building tree 92 of 750

building tree 93 of 750
building tree 94 of 750building tree 95 of 750building tree 96 of 750building tree 97 of 750




building tree 98 of 750building tree 99 of 750
building tree 100 of 750
building tree 101 of 750
building tree 102 of 750building tree 103 of 750
building tree 104 of 750building tree 105 of 750building tree 106 of 750

building tree 107 of 750
building tree 108 of 750

building tree 109 of 750


building tree 110 of 750building tree 111 of 750
building tree 112 of 750
building tree 113 of 750building tree 114 of 750
building tree 115 of 750

building tree 116 of 750building tree 117 of 750
building tree 118 of 750building tree 119 of 750

building tree 120 of 750

building tree 121 of 750building tree 122 of 750

building tree 123 of 750
building tree 124 of 750
building tree 125 of 750

building tree 126 of 750building tree 127 of 750
building tree 128 of 750building tree 129 of 750
building tree 130 of 750building tree 131 of 750


building tree 132 of 750building tree 133 of 750
building tree 134 of 750

building tree 135 of 750
building tree 136 of 750building tree 137 of 750building tree 138 of 750
building tree 139 of 750
building tree 140 of 750
building tree 141 of 750building tree 142 of 750
building tree 143 of 750
building tree 144 of 750
building tree 145 of 750

building tree 146 of 750



building tree 147 of 750building tree 148 of 750
building tree 149 of 750

building tree 150 of 750
building tree 151 of 750
building tree 152 of 750building tree 153 of 750
building tree 154 of 750

building tree 155 of 750
building tree 156 of 750
building tree 157 of 750building tree 158 of 750
building tree 159 of 750

building tree 160 of 750
building tree 161 of 750
building tree 162 of 750
building tree 163 of 750building tree 164 of 750
building tree 165 of 750building tree 166 of 750building tree 167 of 750



building tree 168 of 750
building tree 169 of 750building tree 170 of 750building tree 171 of 750building tree 172 of 750building tree 173 of 750
building tree 174 of 750
building tree 175 of 750



building tree 176 of 750
building tree 177 of 750
building tree 178 of 750building tree 179 of 750
building tree 180 of 750
building tree 181 of 750
building tree 182 of 750building tree 183 of 750


building tree 184 of 750
building tree 185 of 750building tree 186 of 750

building tree 187 of 750
building tree 188 of 750

building tree 189 of 750building tree 190 of 750building tree 191 of 750building tree 192 of 750



building tree 193 of 750building tree 194 of 750
building tree 195 of 750building tree 196 of 750
building tree 197 of 750
building tree 198 of 750building tree 199 of 750

building tree 200 of 750
building tree 201 of 750building tree 202 of 750



building tree 203 of 750
building tree 204 of 750building tree 205 of 750

building tree 206 of 750building tree 207 of 750
building tree 208 of 750
building tree 209 of 750
building tree 210 of 750
building tree 211 of 750
building tree 212 of 750building tree 213 of 750
building tree 214 of 750
building tree 215 of 750
building tree 216 of 750building tree 217 of 750
building tree 218 of 750
building tree 219 of 750
building tree 220 of 750
building tree 221 of 750

building tree 222 of 750
building tree 223 of 750building tree 224 of 750building tree 225 of 750

building tree 226 of 750
building tree 227 of 750
building tree 228 of 750building tree 229 of 750
building tree 230 of 750
building tree 231 of 750
building tree 232 of 750building tree 233 of 750



building tree 234 of 750

building tree 235 of 750building tree 236 of 750building tree 237 of 750
building tree 238 of 750


building tree 239 of 750

building tree 240 of 750building tree 241 of 750building tree 242 of 750
building tree 243 of 750


building tree 244 of 750
building tree 245 of 750
building tree 246 of 750
building tree 247 of 750building tree 248 of 750
building tree 249 of 750building tree 250 of 750


building tree 251 of 750building tree 252 of 750building tree 253 of 750


building tree 254 of 750
building tree 255 of 750building tree 256 of 750building tree 257 of 750


building tree 258 of 750building tree 259 of 750building tree 260 of 750
building tree 261 of 750building tree 262 of 750
building tree 263 of 750


building tree 264 of 750
building tree 265 of 750
building tree 266 of 750
building tree 267 of 750

building tree 268 of 750building tree 269 of 750
building tree 270 of 750

building tree 271 of 750building tree 272 of 750building tree 273 of 750
building tree 274 of 750
building tree 275 of 750building tree 276 of 750
building tree 277 of 750building tree 278 of 750building tree 279 of 750
building tree 280 of 750

building tree 281 of 750building tree 282 of 750



building tree 283 of 750
building tree 284 of 750
building tree 285 of 750
building tree 286 of 750building tree 287 of 750


building tree 288 of 750
building tree 289 of 750
building tree 290 of 750
building tree 291 of 750
building tree 292 of 750building tree 293 of 750building tree 294 of 750

building tree 295 of 750
building tree 296 of 750
building tree 297 of 750
building tree 298 of 750
building tree 299 of 750building tree 300 of 750



building tree 301 of 750
building tree 302 of 750
building tree 303 of 750building tree 304 of 750
building tree 305 of 750building tree 306 of 750building tree 307 of 750
building tree 308 of 750

building tree 309 of 750
building tree 310 of 750
building tree 311 of 750
building tree 312 of 750building tree 313 of 750

building tree 314 of 750building tree 315 of 750building tree 316 of 750
building tree 317 of 750


building tree 318 of 750


building tree 319 of 750
building tree 320 of 750building tree 321 of 750
building tree 322 of 750
building tree 323 of 750building tree 324 of 750building tree 325 of 750

building tree 326 of 750

building tree 327 of 750

building tree 328 of 750
building tree 329 of 750
building tree 330 of 750building tree 331 of 750building tree 332 of 750building tree 333 of 750


building tree 334 of 750
building tree 335 of 750building tree 336 of 750
building tree 337 of 750
building tree 338 of 750
building tree 339 of 750building tree 340 of 750building tree 341 of 750

building tree 342 of 750building tree 343 of 750

building tree 344 of 750
building tree 345 of 750building tree 346 of 750building tree 347 of 750
building tree 348 of 750




building tree 349 of 750building tree 350 of 750
building tree 351 of 750


building tree 352 of 750
building tree 353 of 750building tree 354 of 750
building tree 355 of 750
building tree 356 of 750

building tree 357 of 750building tree 358 of 750
building tree 359 of 750building tree 360 of 750building tree 361 of 750
building tree 362 of 750

building tree 363 of 750building tree 364 of 750
building tree 365 of 750

building tree 366 of 750
building tree 367 of 750
building tree 368 of 750

building tree 369 of 750
building tree 370 of 750
building tree 371 of 750
building tree 372 of 750building tree 373 of 750

building tree 374 of 750
building tree 375 of 750building tree 376 of 750


building tree 377 of 750
building tree 378 of 750
building tree 379 of 750building tree 380 of 750building tree 381 of 750building tree 382 of 750
building tree 383 of 750

building tree 384 of 750
building tree 385 of 750building tree 386 of 750
building tree 387 of 750


building tree 388 of 750building tree 389 of 750building tree 390 of 750
building tree 391 of 750
building tree 392 of 750


building tree 393 of 750building tree 394 of 750
building tree 395 of 750
building tree 396 of 750building tree 397 of 750building tree 398 of 750building tree 399 of 750
building tree 400 of 750building tree 401 of 750building tree 402 of 750




building tree 403 of 750

building tree 404 of 750building tree 405 of 750
building tree 406 of 750building tree 407 of 750building tree 408 of 750
building tree 409 of 750


building tree 410 of 750building tree 411 of 750
building tree 412 of 750building tree 413 of 750building tree 414 of 750


building tree 415 of 750building tree 416 of 750


building tree 417 of 750
building tree 418 of 750building tree 419 of 750building tree 420 of 750


building tree 421 of 750
building tree 422 of 750


building tree 423 of 750building tree 424 of 750building tree 425 of 750building tree 426 of 750
building tree 427 of 750
building tree 428 of 750


building tree 429 of 750building tree 430 of 750building tree 431 of 750

building tree 432 of 750
building tree 433 of 750building tree 434 of 750

building tree 435 of 750

building tree 436 of 750

building tree 437 of 750
building tree 438 of 750
building tree 439 of 750building tree 440 of 750building tree 441 of 750building tree 442 of 750

building tree 443 of 750
building tree 444 of 750
building tree 445 of 750
building tree 446 of 750building tree 447 of 750


building tree 448 of 750

building tree 449 of 750
building tree 450 of 750
building tree 451 of 750building tree 452 of 750
building tree 453 of 750
building tree 454 of 750building tree 455 of 750

building tree 456 of 750
building tree 457 of 750building tree 458 of 750
building tree 459 of 750building tree 460 of 750
building tree 461 of 750

building tree 462 of 750building tree 463 of 750building tree 464 of 750building tree 465 of 750


building tree 466 of 750building tree 467 of 750


building tree 468 of 750building tree 469 of 750
building tree 470 of 750
building tree 471 of 750
building tree 472 of 750building tree 473 of 750
building tree 474 of 750
building tree 475 of 750



building tree 476 of 750
building tree 477 of 750
building tree 478 of 750building tree 479 of 750building tree 480 of 750building tree 481 of 750building tree 482 of 750building tree 483 of 750building tree 484 of 750

building tree 485 of 750

building tree 486 of 750building tree 487 of 750building tree 488 of 750
building tree 489 of 750






building tree 490 of 750
building tree 491 of 750building tree 492 of 750

building tree 493 of 750
building tree 494 of 750
building tree 495 of 750
building tree 496 of 750
building tree 497 of 750building tree 498 of 750building tree 499 of 750


building tree 500 of 750
building tree 501 of 750
building tree 502 of 750

building tree 503 of 750
building tree 504 of 750
building tree 505 of 750
building tree 506 of 750
building tree 507 of 750building tree 508 of 750
building tree 509 of 750
building tree 510 of 750

building tree 511 of 750
building tree 512 of 750
building tree 513 of 750

building tree 514 of 750building tree 515 of 750building tree 516 of 750building tree 517 of 750

building tree 518 of 750building tree 519 of 750
building tree 520 of 750
building tree 521 of 750building tree 522 of 750building tree 523 of 750
building tree 524 of 750

building tree 525 of 750building tree 526 of 750




building tree 527 of 750building tree 528 of 750building tree 529 of 750building tree 530 of 750

building tree 531 of 750



building tree 532 of 750building tree 533 of 750building tree 534 of 750

building tree 535 of 750building tree 536 of 750
building tree 537 of 750

building tree 538 of 750
building tree 539 of 750
building tree 540 of 750
building tree 541 of 750
building tree 542 of 750

building tree 543 of 750building tree 544 of 750building tree 545 of 750building tree 546 of 750building tree 547 of 750building tree 548 of 750building tree 549 of 750
building tree 550 of 750


building tree 551 of 750
building tree 552 of 750

building tree 553 of 750

building tree 554 of 750
building tree 555 of 750building tree 556 of 750
building tree 557 of 750
building tree 558 of 750building tree 559 of 750


building tree 560 of 750

building tree 561 of 750building tree 562 of 750building tree 563 of 750
building tree 564 of 750


building tree 565 of 750building tree 566 of 750
building tree 567 of 750building tree 568 of 750

building tree 569 of 750building tree 570 of 750
building tree 571 of 750
building tree 572 of 750
building tree 573 of 750
building tree 574 of 750building tree 575 of 750
building tree 576 of 750building tree 577 of 750
building tree 578 of 750
building tree 579 of 750

building tree 580 of 750building tree 581 of 750
building tree 582 of 750



building tree 583 of 750
building tree 584 of 750building tree 585 of 750building tree 586 of 750building tree 587 of 750
building tree 588 of 750

building tree 589 of 750

building tree 590 of 750
building tree 591 of 750building tree 592 of 750

building tree 593 of 750building tree 594 of 750

building tree 595 of 750building tree 596 of 750
building tree 597 of 750building tree 598 of 750




building tree 599 of 750
building tree 600 of 750building tree 601 of 750
building tree 602 of 750building tree 603 of 750
building tree 604 of 750

building tree 605 of 750building tree 606 of 750building tree 607 of 750building tree 608 of 750
building tree 609 of 750
building tree 610 of 750building tree 611 of 750


building tree 612 of 750
building tree 613 of 750

building tree 614 of 750building tree 615 of 750
building tree 616 of 750
building tree 617 of 750building tree 618 of 750
building tree 619 of 750building tree 620 of 750
building tree 621 of 750
building tree 622 of 750


building tree 623 of 750

building tree 624 of 750building tree 625 of 750building tree 626 of 750building tree 627 of 750building tree 628 of 750



building tree 629 of 750

building tree 630 of 750

building tree 631 of 750building tree 632 of 750

building tree 633 of 750
building tree 634 of 750

building tree 635 of 750building tree 636 of 750

[Parallel(n_jobs=10000)]: Done 303 out of 750 | elapsed:    1.9s remaining:    2.8s
building tree 637 of 750building tree 638 of 750
building tree 639 of 750

building tree 640 of 750building tree 641 of 750building tree 642 of 750

building tree 643 of 750building tree 644 of 750
building tree 645 of 750building tree 646 of 750
building tree 647 of 750


building tree 648 of 750building tree 649 of 750
building tree 650 of 750building tree 651 of 750

building tree 652 of 750building tree 653 of 750building tree 654 of 750building tree 655 of 750
building tree 656 of 750

building tree 657 of 750
building tree 658 of 750building tree 659 of 750building tree 660 of 750
building tree 661 of 750


building tree 662 of 750building tree 663 of 750
building tree 664 of 750



building tree 665 of 750building tree 666 of 750
building tree 667 of 750




building tree 668 of 750building tree 669 of 750building tree 670 of 750building tree 671 of 750
building tree 672 of 750
building tree 673 of 750
building tree 674 of 750


building tree 675 of 750building tree 676 of 750building tree 677 of 750building tree 678 of 750
building tree 679 of 750building tree 680 of 750
building tree 681 of 750building tree 682 of 750

building tree 683 of 750
building tree 684 of 750building tree 685 of 750



building tree 686 of 750
building tree 687 of 750
building tree 688 of 750
building tree 689 of 750building tree 690 of 750



building tree 691 of 750building tree 692 of 750building tree 693 of 750
building tree 694 of 750
building tree 695 of 750
building tree 696 of 750building tree 697 of 750building tree 698 of 750building tree 699 of 750

building tree 700 of 750
building tree 701 of 750



building tree 702 of 750
building tree 703 of 750
building tree 704 of 750building tree 705 of 750
building tree 706 of 750
building tree 707 of 750building tree 708 of 750
building tree 709 of 750building tree 710 of 750
building tree 711 of 750
building tree 712 of 750



building tree 713 of 750building tree 714 of 750
building tree 715 of 750
building tree 716 of 750
building tree 717 of 750
building tree 718 of 750
building tree 719 of 750building tree 720 of 750building tree 721 of 750building tree 722 of 750


building tree 723 of 750

building tree 724 of 750building tree 725 of 750



building tree 726 of 750
building tree 727 of 750building tree 728 of 750
building tree 729 of 750

building tree 730 of 750building tree 731 of 750building tree 732 of 750
building tree 733 of 750building tree 734 of 750building tree 735 of 750

building tree 736 of 750


building tree 737 of 750


building tree 738 of 750building tree 739 of 750
building tree 740 of 750
building tree 741 of 750building tree 742 of 750
building tree 743 of 750building tree 744 of 750

building tree 745 of 750


building tree 746 of 750building tree 747 of 750building tree 748 of 750
building tree 749 of 750building tree 750 of 750



[Parallel(n_jobs=10000)]: Done 679 out of 750 | elapsed:    2.3s remaining:    0.1s
[Parallel(n_jobs=10000)]: Done 750 out of 750 | elapsed:    2.3s finished
[Parallel(n_jobs=750)]: Using backend ThreadingBackend with 750 concurrent workers.
[Parallel(n_jobs=750)]: Done   3 out of 750 | elapsed:    0.2s remaining:  1.4min
[Parallel(n_jobs=750)]: Done 379 out of 750 | elapsed:    0.4s remaining:    0.3s
[Parallel(n_jobs=750)]: Done 750 out of 750 | elapsed:    0.4s finished

0.5855130784708249

In [52]:
#Saving the model
import joblib
filename = 'decision_tree.sav'
joblib.dump(rf, filename)

['decision_tree.sav']

In [53]:
#Saving the scaler
import joblib
filename = "Scaler.sav"
joblib.dump(X_scaler, filename)

['Scaler.sav']